.air-datepicker {
    border: none;
    font-weight: 500;
    padding: 12px;
    --adp-day-name-color: var(--grey);
    --adp-cell-border-radius: 6px;
    --adp-font-family: var(--main_font_family);
    --adp-background-color: var(--black);
    --adp-border-radius: 12px;
    --adp-font-size: 14px;
    --adp-color: var(--light);
    --adp-width: 256px;
    --adp-day-cell-height: 40px;
    --adp-cell-background-color-selected: var(--primary-a);
    --adp-cell-background-color-selected-hover: var(--primary);
    --adp-background-color-selected-other-month: var(--primary-a);
    --adp-background-color-selected-other-month-focused: var(--primary);
    --adp-cell-background-color-hover: var(--primary);
    --adp-color-current-date: var(--primary);
    --adp-color-other-month: var(--grey);
    --adp-nav-action-size: 40px;
    --adp-nav-arrow-color: var(--primary);
    --adp-color-other-month-hover: var(--light);
    --adp-z-index: 1000;
    @media(min-width: 480px) {
        padding: 24px;
        --adp-day-cell-height: 48px;
        --adp-nav-action-size: 48px;
        --adp-width: 336px;
    }
}

.air-datepicker-nav {
    border-bottom: none;
    padding: 0;
}

.air-datepicker--content {
    padding: 0;
}

.air-datepicker-body {}

.air-datepicker-body--day-names {
    margin: 0;
}

.air-datepicker-body--day-name {
    font-size: 1em;
    height: 40px;
    text-transform: none;
    @media(min-width: 480px) {
        height: 48px;
    }
}

.air-datepicker-cell.-fosus- {
    color: var(--black);
}

.air-datepicker-cell.-day-.-current- ~ .air-datepicker-cell.-day- {
    color: var(--grey);
}

.air-datepicker-cell.-day-.-current- ~ .air-datepicker-cell.-day-.-selected-,
.air-datepicker-cell.-day-.-current- ~ .air-datepicker-cell.-day-:hover {
    color: var(--light);
}

.air-datepicker-nav--action {
    border-radius: var(--adp-cell-border-radius);
    height: 40px;
    @media(min-width: 480px) {
        height: 48px;
    }
}

.air-datepicker-nav--action:hover,
.air-datepicker-nav--title:hover {
    background: rgba(#fff, 0.08);
}

.air-datepicker--pointer::after {
    background-color: var(--black);
    border: none;
}