.checkbox-group {
    //padding-top: 10px;
    .checkbox {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.checkbox {
    align-items: center;
    display: flex;
    gap: 12px;
    line-height: 1.25;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            //background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' fill='%2300D7B0'/%3E%3Cpath d='M16.487 6.3125L10.2045 12.6335L7.513 9.921L5 12.455L10.2045 17.6875L19 8.83775L16.487 6.3125Z' fill='white'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%2300A894'/%3E%3C/svg%3E%0A");
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.487 6.3125L10.2045 12.6335L7.513 9.921L5 12.455L10.2045 17.6875L19 8.83775L16.487 6.3125Z' fill='%2300D7B0'/%3E%3C/svg%3E%0A");
        }

        &:checked ~ .checkbox__text {
            color: var(--light);
        }

        &:not(:disabled) ~ .checkbox__icon,
        &:not(:disabled) ~ .checkbox__text {
            cursor: pointer;
        }

        &:disabled ~ .checkbox__icon,
        &:disabled ~ .checkbox__text {
            opacity: 0.6;
            user-select: none;
        }
    }

    &__icon {
        //background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%236F6F6F'/%3E%3C/svg%3E%0A");
        border-radius: 4px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: var(--background);
        height: 24px;
        min-width: 24px;
        width: 24px;
    }

    &__text {
        color: var(--grey);
    }
}

.radio-group {
    //padding-top: 10px;
    //padding-left: 16px;
    .radio {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.radio {
    align-items: center;
    display: flex;
    gap: 12px;
    line-height: 1.25;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .radio__icon {
            //background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7' stroke='%2300A894' stroke-width='2'/%3E%3Ccircle cx='8' cy='8' r='4' fill='%2300D7B0'/%3E%3C/svg%3E%0A");
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='9' stroke='%2300A894' stroke-width='2'/%3E%3Ccircle cx='12' cy='12' r='5' fill='%2300D7B0'/%3E%3C/svg%3E%0A");
        }

        &:checked ~ .radio__text {
            color: var(--light);
        }

        &:not(:disabled) ~ .radio__icon,
        &:not(:disabled) ~ .radio__text {
            cursor: pointer;
        }

        &:disabled ~ .radio__icon,
        &:disabled ~ .radio__text {
            opacity: 0.6;
            user-select: none;
        }
    }

    &__icon {
        //background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7' stroke='%236F6F6F' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='9' stroke='%236F6F6F' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 24px;
        min-width: 24px;
        width: 24px;
    }

    &__text {
        color: var(--grey);
    }
}