.input {
    position: relative;
    z-index: auto;

    &__input {
        border-radius: 12px;
        border: none;
        background-color: rgba(#fff,0.04);
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        height: 48px;
        line-height: 1.6;
        padding: 8px 52px 8px 16px;
        transition: background-color 0.3s;
        width: 100%;

        &::-webkit-input-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &:focus {
            background-color: rgba(#fff,0.08);
        }

        &.disabled,
        &:disabled {
            opacity: 0.6;
        }

        &.error {
            //background-color: rgba(196, 51, 77, 0.5);
            background-color: var(--f-warning);

            &::-webkit-input-placeholder {
                color: var(--comfy-reading);
                opacity: 1;
            }

            &::-moz-placeholder {
                color: var(--comfy-reading);
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: var(--comfy-reading);
                opacity: 1;
            }
        }

        &--calendar {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.625 9H3.375C3.15625 9 3 8.84375 3 8.625V7.375C3 7.1875 3.15625 7 3.375 7H4.625C4.8125 7 5 7.1875 5 7.375V8.625C5 8.84375 4.8125 9 4.625 9ZM8 8.625C8 8.84375 7.8125 9 7.625 9H6.375C6.15625 9 6 8.84375 6 8.625V7.375C6 7.1875 6.15625 7 6.375 7H7.625C7.8125 7 8 7.1875 8 7.375V8.625ZM11 8.625C11 8.84375 10.8125 9 10.625 9H9.375C9.15625 9 9 8.84375 9 8.625V7.375C9 7.1875 9.15625 7 9.375 7H10.625C10.8125 7 11 7.1875 11 7.375V8.625ZM8 11.625C8 11.8438 7.8125 12 7.625 12H6.375C6.15625 12 6 11.8438 6 11.625V10.375C6 10.1875 6.15625 10 6.375 10H7.625C7.8125 10 8 10.1875 8 10.375V11.625ZM5 11.625C5 11.8438 4.8125 12 4.625 12H3.375C3.15625 12 3 11.8438 3 11.625V10.375C3 10.1875 3.15625 10 3.375 10H4.625C4.8125 10 5 10.1875 5 10.375V11.625ZM11 11.625C11 11.8438 10.8125 12 10.625 12H9.375C9.15625 12 9 11.8438 9 11.625V10.375C9 10.1875 9.15625 10 9.375 10H10.625C10.8125 10 11 10.1875 11 10.375V11.625ZM14 3.5V14.5C14 15.3438 13.3125 16 12.5 16H1.5C0.65625 16 0 15.3438 0 14.5V3.5C0 2.6875 0.65625 2 1.5 2H3V0.375C3 0.1875 3.15625 0 3.375 0H4.625C4.8125 0 5 0.1875 5 0.375V2H9V0.375C9 0.1875 9.15625 0 9.375 0H10.625C10.8125 0 11 0.1875 11 0.375V2H12.5C13.3125 2 14 2.6875 14 3.5ZM12.5 14.3125V5H1.5V14.3125C1.5 14.4375 1.5625 14.5 1.6875 14.5H12.3125C12.4062 14.5 12.5 14.4375 12.5 14.3125Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: calc(100% - 16px) 50%;
        }
    }

    &__button {
        @include button-reset;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 40px;
        left: auto;
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.3s;
        width: 40px;
        z-index: 1;

        &:disabled {
            cursor: default;
            opacity: 0.6;
        }

        &:not(:disabled) {
            @include hover {
                svg {
                    fill: #fff;

                    &.green {
                        fill: var(--primary-a);
                    }
                }
            }
        }

        svg {
            display: block;
            fill: var(--light);
            height: 24px;
            transition: fill 0.3s;
            width: 24px;

            &.green {
                fill: var(--primary);
            }
        }
    }

    &__textarea {
        border-radius: 12px;
        border: none;
        background-color: rgba(#fff,0.04);
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        height: 176px;
        line-height: 1.6;
        margin: 0;
        padding: 8px 16px;
        resize: none;
        transition: background-color 0.3s;
        width: 100%;

        &::-webkit-input-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &:focus {
            background-color: rgba(#fff,0.08);
        }

        &.disabled,
        &:disabled {
            opacity: 0.6;
        }

        &.error {
            //background-color: rgba(196, 51, 77, 0.5);
            background-color: var(--f-warning);

            &::-webkit-input-placeholder {
                color: var(--comfy-reading);
                opacity: 1;
            }

            &::-moz-placeholder {
                color: var(--comfy-reading);
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: var(--comfy-reading);
                opacity: 1;
            }
        }
    }
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}

.input-error {
    color: var(--f-warning);
    font-size: 12px;
    line-height: 1.33333;
    margin-top: 6px;
    margin-bottom: 0;
}