.socials-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.social-link {
    align-items: center;
    background-color: var(--primary-a);
    border-radius: 12px;
    display: flex;
    height: 48px;
    justify-content: center;
    transition: background-color 0.3s;
    width: 48px;
    @include hover {
        background-color: var(--primary);
    }

    svg {
        fill: #fff;
        height: 24px;
        width: 24px;
    }
}