<h2>Кнопки</h2>

<p>
    <a class="button button--red button--h_48" href="#"><span>Ссылка</span></a>
    <a class="button button--red button--bordered button--h_48" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--h_48" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--bordered button--h_48" href="#"><span>Ссылка</span></a>


    <a class="button button--red button--h_48 button--loading" href="#"><span>Ссылка</span></a>
    <a class="button button--red button--bordered button--h_48 button--loading" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--h_48 button--loading" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--bordered button--h_48 button--loading" href="#"><span>Ссылка</span></a>
</p>

<p>
    <a class="button button--red button--h_48 disabled" href="#"><span>Ссылка</span></a>
    <a class="button button--red button--bordered button--h_48 disabled" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--h_48 disabled" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--bordered button--h_48 disabled" href="#"><span>Ссылка</span></a>

    <a class="button button--red button--h_48 disabled button--loading" href="#"><span>Ссылка</span></a>
    <a class="button button--red button--bordered button--h_48 disabled button--loading" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--h_48 disabled button--loading" href="#"><span>Ссылка</span></a>
    <a class="button button--green button--bordered button--h_48 disabled button--loading" href="#"><span>Ссылка</span></a>
</p>

<p>
    <button class="button button--red button--h_48" type="button"><span>Кнопка</span></button>
    <button class="button button--red button--bordered button--h_48" type="button"><span>Кнопка</span></button>
    <button class="button button--green button--h_48" type="button"><span>Кнопка</span></button>
    <button class="button button--green button--bordered button--h_48" type="button"><span>Кнопка</span></button>

    <button class="button button--red button--h_48 button--loading" type="button"><span>Кнопка</span></button>
    <button class="button button--red button--bordered button--h_48 button--loading" type="button"><span>Кнопка</span></button>
    <button class="button button--green button--h_48 button--loading" type="button"><span>Кнопка</span></button>
    <button class="button button--green button--bordered button--h_48 button--loading" type="button"><span>Кнопка</span></button>
</p>

<p>
    <button class="button button--red button--h_48" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_48" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_48" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_48" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>

    <button class="button button--red button--h_48 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_48 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_48 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_48 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
</p>

<p>
    <button class="button button--red button--h_48" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_48" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_48" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_48" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>

    <button class="button button--red button--h_48 button--loading" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_48 button--loading" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_48 button--loading" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_48 button--loading" disabled type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
</p>

<p>
    <button class="button button--red button--h_48" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>
    <button class="button button--red button--bordered button--h_48" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>
    <button class="button button--green button--h_48" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>
    <button class="button button--green button--bordered button--h_48" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>

    <button class="button button--red button--h_48 button--loading" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>
    <button class="button button--red button--bordered button--h_48 button--loading" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>
    <button class="button button--green button--h_48 button--loading" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>
    <button class="button button--green button--bordered button--h_48 button--loading" disabled type="button">
        <span>Кнопка</span>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
    </button>
</p>

<p>
    <button class="button button--red button--h_32" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_32" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_32" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_32" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>

    <button class="button button--red button--h_32 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_32 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_32 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_32 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
</p>

<p>
    <button class="button button--red button--h_36" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_36" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_36" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_36" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>

    <button class="button button--red button--h_36 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_36 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_36 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_36 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
</p>

<p>
    <button class="button button--red button--h_40" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_40" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_40" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_40" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>

    <button class="button button--red button--h_40 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_40 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_40 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_40 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
</p>

<p>
    <button class="button button--red button--h_56" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_56" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_56" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_56" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>

    <button class="button button--red button--h_56 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--red button--bordered button--h_56 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--h_56 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
    <button class="button button--green button--bordered button--h_56 button--loading" type="button">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#settings" />
        </svg>
        <span>Кнопка</span>
    </button>
</p>