<footer class="footer">
    <div class="footer__container">
        <div class="footer__address">
            г. Санкт-Петербург, ул. Дедлайновая 7<br>
            ИНН 5582247836, ОГРН 2257756993449<br>
            2023, ООО «ВанШоп»
        </div>

        <div class="footer__contacts">
            <div class="footer__socials">
                <a class="footer-social" href="#" title="Наш Telegram" target="_blank" rel="nofollow noreferrer">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#tg" />
                    </svg>
                </a>

                <a class="footer-social" href="#" title="Мы Вконтакте" target="_blank" rel="nofollow noreferrer">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#vk" />
                    </svg>
                </a>

                <a class="footer-social" href="#" title="Мы на YouTube" target="_blank" rel="nofollow noreferrer">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#yt" />
                    </svg>
                </a>
            </div>
            Техподдержка:<br>
            <a href="mailto:texpomosh@one-shopw.com">texpomosh@one-shopw.com</a>
        </div>

        <div class="footer__links">
            <a href="#">Политика обработки персональных данных</a><br>
            <a href="#">Пользовательское соглашение</a>
        </div>
    </div>
</footer>