<div class="personal__header">
    <a class="personal__header-logo" href="#">
        <img src="images/logo.svg" alt="">
    </a>

    <button class="js-personal-menu-opener personal__burger" type="button" title="Меню">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#menu" />
        </svg>
    </button>
</div>

<div class="personal-menu">
    <div class="personal-menu__inner">
        <div class="user-info">
            <svg class="user-info__avatar" aria-hidden="true">
                <use xlink:href="images/sprite.svg#user" />
            </svg>
            <div class="user-info__text">
                <p class="user-info__login">moneymaker</p>
                <p class="user-info__email">moneymaker@yandex.ru</p>
            </div>
            <a class="user-info__logout" href="#" title="Выйти из аккаунта">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#logout" />
                </svg>
            </a>
        </div>

        <nav>
            <ul class="personal-menu__list">
                <li class="personal-menu__item">
                    <a class="personal-menu__link is-active" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#info" />
                        </svg>
                        <span>Данные</span>
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#learn" />
                        </svg>
                        <span>Обучающий курс</span>
                    </a>
                </li>
                <!--<li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#wallet" />
                        </svg>
                        <span>Пополнить</span>
                    </a>
                </li>-->
                <li class="personal-menu__item">
                    <span class="personal-menu__link is-disabled">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#wrench" />
                        </svg>
                        <span>Инструменты</span>
                    </span>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chat" />
                        </svg>
                        <span>Чаты</span>
                        <span class="count-badge">1</span>
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#question_light" />
                        </svg>
                        <span>FAQ</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="personal-menu__title">Функционал в разработке</div>

        <ul class="personal-menu__list">
            <li class="personal-menu__item">
                <span class="personal-menu__link is-disabled">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#lock" />
                    </svg>
                    <span>Бот CRYPTOMATIC</span>
                </span>
            </li>
            <li class="personal-menu__item">
                <span class="personal-menu__link is-disabled">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#lock" />
                    </svg>
                    <span>Торговый индикатор</span>
                </span>
            </li>
            <li class="personal-menu__item">
                <span class="personal-menu__link is-disabled">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#lock" />
                    </svg>
                    <span>Копитрейдинг</span>
                </span>
            </li>
        </ul>
    </div>

    <button class="js-personal-menu-closer personal-menu__closer" type="button" title="Закрыть меню">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#close" />
        </svg>
    </button>
</div>