.bots {
    &:not(:last-child) {
        margin-bottom: 24px;
    }

    .bot {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

.bot {
    align-items: center;
    border-radius: 12px;
    background-color: var(--darkgrey);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    padding: 12px;
    @media(min-width: $md) {
        flex-wrap: nowrap;
    }
    @media(min-width: $hd) {
        padding: 16px;
    }
    @media(min-width: $fhd) {
        padding: 24px 32px;
    }

    &--not_active {
        .bot__title {
            color: var(--grey);
        }

        .bot__image {
            svg {
                fill: var(--grey);

                path {
                    fill: var(--grey);
                }
            }
        }
    }

    &__left {
        align-items: center;
        display: flex;
        flex-grow: 1;
        gap: 8px 16px;
        @media(max-width: $md - 1px) {
            flex-wrap: wrap;
            width: 100%;
        }
        @media(min-width: $md) {
            width: calc(100% - 432px);
        }
        @media(min-width: $fhd) {
            width: calc(100% - 720px);
        }
    }

    &__image {
        align-items: center;
        border-radius: 12px;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        height: 64px;
        min-width: 120px;
        padding: 8px;
        width: 120px;
    }

    &__title-block {
        @media(min-width: $md) {
            flex-grow: 1;
            width: calc(100% - 136px);
        }
    }

    &__title {
        font-size: 16px;
        line-height: 1.2;
        margin: 0;
        @media(min-width: $md) {
            display: flex;
        }
        @media(min-width: $fhd) {
            font-size: 20px;
        }

        span {
            @media(min-width: $md) {
                max-width: calc(100% - 70px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        sup {
            color: var(--grey);
            font-size: 12px;
            padding-left: 4px;
            white-space: nowrap;
        }
    }

    &__right {
        @media(max-width: $md - 1px) {
            width: 100%;
        }
        @media(min-width: $fhd) {
            align-items: center;
            display: flex;
            gap: 8px;
        }

        &--mod_1 {
            @media(min-width: 480px) {
                align-items: center;
                display: flex;
                gap: 8px;
            }

            .bot__date {
                @media(min-width: 480px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__right-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        @media(min-width: $md) {
            flex-wrap: nowrap;
        }

        .button {
            border-radius: 8px;
            font-size: 14px;
            height: 36px;
            @media(min-width: $fhd) {
                border-radius: 12px;
                font-size: 16px;
                height: 48px;
            }

            span {
                & + svg {
                    display: none;
                }
            }

            &.button--square {
                width: 36px;
                @media(min-width: $fhd) {
                    width: 48px;
                }
            }

            &:not(.button--square) {
                min-width: 120px;
                @media(min-width: $fhd) {
                    min-width: 154px;
                }
            }
        }
    }

    &__date {
        color: var(--grey);
        white-space: nowrap;
        @media(min-width: $hd) {
            text-align: right;
        }
        @media(max-width: $fhd - 1px) {
            margin-bottom: 8px;
        }
        @media(min-width: $fhd) {
            margin-right: 8px;
        }
    }
}