.course {
    --gap: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    &__video-block {
        background-color: var(--darkgrey);
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        @media(min-width: $md) {
            width: calc(66.46% - var(--gap)/2);
        }
    }

    &__text-block {
        padding: 16px 12px;
        @media(min-width: $sm) {
            padding: 16px;
        }
        @media(min-width: $fhd) {
            padding: 24px 32px;
        }
    }

    &__title-block {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 24px;
    }

    &__title {
        align-items: center;
        color: var(--light);
        display: flex;
        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        flex-wrap: wrap;
        min-height: 48px;
        margin: 0;
        max-width: calc(100% - 36px);
    }

    &__duration {
        background-color: var(--black);
        border-radius: 12px;
        color: var(--comfy-reading);
        font-size: 14px;
        font-weight: 400;
        height: 32px;
        padding: 8px 12px;
        min-width: 64px;
        text-align: center;
    }

    &__status {
        color: var(--primary);
        font-size: 16px;
        font-weight: 500;
    }

    &__text {
        color: var(--comfy-reading);
    }

    &__adds {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        @media(min-width: $md) {
            width: calc(33.54% - var(--gap)/2);
        }
    }
}

.lessons {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &__link {
        align-items: center;
        border-radius: 12px;
        border: 1px solid transparent;
        color: var(--light);
        display: flex;
        height: 48px;
        justify-content: center;
        min-width: 48px;
        transition: background-color 0.3s;
        width: 48px;

        &.is-locked {
            background-color: rgba(#242424, 0.8);
            color: var(--grey);
            @include hover {
                color: var(--grey);
            }
        }

        &.is-available {
            background-color: var(--background);
            @include hover {
                background-color: lighten(#303030, 10%);
            }
        }

        &.is-passed {
            background-color: #10524A;
            @include hover {
                background-color: lighten(#10524A, 10%);
            }
        }

        &.is-active {
            background-color: var(--primary-a);
            border-color: var(--primary);
            box-shadow: 0 0 4px 0 rgba(#19F0D1, 0.5);
        }
        @include hover {
            color: var(--light);
        }
    }
}

.course-adds {
    background-color: var(--darkgrey);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media(min-width: $fhd) {
        padding: 24px 32px;
    }

    &__chat {
        margin-top: auto;
    }
}