.filter {
    display: flex;
    flex-wrap: wrap;
    --gap: 8px;
    gap: var(--gap);

    &__item {
        width: 100%;
        @media(min-width: $sm) {
            width: calc(100% / 2 - var(--gap) / 2);
        }
        @media(min-width: $hd) {
            width: calc(100% / 3 - var(--gap) * 2 / 3);
        }
    }

    .button {
        width: 100%;
    }
}