.personal {
    @media(max-width: $hd - 0.02px) {
        padding-top: 98px;
    }
    @media(min-width: $hd) {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        gap: 24px;
    }

    &__left {
        @media(max-width: $hd - 0.02px) {
            height: 96px;
            left: 0;
            position: fixed;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 16px;
            right: 0;
            top: 0;
            transition: all 0.3s;
            z-index: 5;
        }
        @media(min-width: $hd) {
            background-color: var(--underlay);
            border-radius: 24px;
            padding-top: 0;
            width: 24%;
        }

        &.is-open {
            background-color: #343434;
            height: 100%;
            padding-bottom: 16px;
        }

        .left-menu {
            @media(min-width: $hd) {
                margin-left: -40px;
            }
        }
    }

    &__left-inner {
        border-radius: 24px;
        background-color: var(--underlay);
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 80px;
        padding: 16px 24px;
        position: relative;
        transition: height 0.3s;
        @media(min-width: $hd) {
            padding-left: 16px;
            padding-right: 16px;
        }
        @media(min-width: $fhd) {
            padding: 40px;
        }
    }

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        @media(min-width: $hd) {
            margin-bottom: 44px;
        }
    }

    &__header-logo {
        align-items: center;
        color: var(--light);
        display: flex;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.5px;
        min-height: 48px;
        z-index: auto;
        @media(min-width: $sm) {
            font-size: 24px;
        }
        @media(min-width: $hd) {
            min-height: 36px;
        }

        a {
            color: inherit;
            display: block;
            position: relative;
            @include hover {
                color: inherit;
            }
        }

        img {
            display: block;
        }
    }

    &__burger {
        @include button-reset;
        align-items: center;
        border: 1px solid currentColor;
        border-radius: 12px;
        color: var(--primary-a);
        display: flex;
        height: 48px;
        justify-content: center;
        width: 48px;
        @media(min-width: $hd) {
            display: none;
        }

        &.is-active {
            color: var(--f-warning);
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }

    &__right {
        width: 100%;
        @media(min-width: $hd) {
            width: calc(76% - 24px);
        }
    }
}

.user-info {
    align-items: center;
    background-color: var(--darkgrey);
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    padding: 12px 16px;
    @media(min-width: $hd) {
        border-radius: 12px;
        margin-bottom: 24px;
    }

    &__avatar {
        fill: var(--grey);
        height: 48px;
        width: 48px;
    }

    &__text {
        flex-grow: 1;
        max-width: calc(100% - 96px - 24px);
    }

    &__login {
        color: var(--light);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__email {
        color: var(--grey);
        font-size: 14px;
        line-height: 1.71428;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__logout {
        align-items: center;
        display: flex;
        height: 48px;
        justify-content: center;
        width: 48px;
        @include hover {
            svg {
                fill: var(--primary-a);
            }
        }

        svg {
            fill: var(--primary);
            height: 24px;
            transition: fill 0.3s;
            width: 24px;
        }
    }
}

.personal-menu {
    @media(max-width: $hd - 0.02px) {
        align-items: center;
        display: none;
        flex-grow: 1;
        flex-direction: column;
        margin-left: -24px;
        margin-right: -24px;
        opacity: 0;
        overflow-y: auto;
        padding-top: 24px;
        transition: opacity 0.3s;
    }

    &.is-open {
        opacity: 1;
    }

    & > * {
        width: 100%;
    }

    &__inner {}

    &__title {
        align-items: center;
        color: var(--light);
        display: flex;
        font-size: 16px;
        font-weight: 400;
        min-height: 48px;
        padding-left: 32px;
        @media(min-width: $hd) {
            padding-left: 12px;
        }

        &:not(:first-child) {
            @media(min-width: $hd) {
                margin-top: 32px;
            }
        }
    }

    &__list {
        @include list-reset;
        /*margin-left: -24px;
        margin-right: -24px;*/
        @media(min-width: $hd) {
            margin-left: -16px;
            margin-right: -16px;
        }
        @media(min-width: $fhd) {
            margin-left: -40px;
            margin-right: -40px;
        }
    }

    &__item {}

    &__link {
        align-items: center;
        color: var(--grey);
        border-left: 4px solid transparent;
        display: flex;
        gap: 12px;
        min-height: 52px;
        padding-left: 24px;
        @media(min-width: $hd) {
            padding-left: 16px;
        }
        @media(min-width: $fhd) {
            padding-left: 40px;
        }

        &:not(.is-disabled) {
            @include hover {
                color: var(--primary);

                svg {
                    fill: var(--primary);
                }
            }
        }

        svg {
            fill: var(--grey);
            height: 32px;
            transition: fill 0.3s;
            width: 32px;
        }

        &.is-disabled {
            cursor: default;
            opacity: 0.33;
        }

        &.is-active {
            border-left-color: var(--primary);
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%);
            color: var(--primary);

            svg {
                fill: var(--primary);
            }
        }
    }
}