<div class="m-calc">
    <div class="m-calc__left">
        <div class="box">
            <div class="box__title-block">
                <p class="box__title">Вводные</p>
            </div>

            <div class="m-calc__row">
                <div class="form-field">
                    <div class="form-field__title-block">
                        <label class="form-field__title" for="shag_setki">Шаг сетки (%)</label>
                    </div>
                    <div class="input">
                        <input id="shag_setki" class="input__input" type="text" name="shag_setki" value="1">
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__title-block">
                        <label class="form-field__title" for="depo_bota">Депо бота</label>
                    </div>
                    <div class="input">
                        <input id="depo_bota" class="input__input" type="text" name="depo_bota" value="1000">
                    </div>
                </div>
            </div>

            <div class="m-calc__row">
                <div class="form-field">
                    <div class="form-field__title-block">
                        <label class="form-field__title" for="cena_vhoda">Цена входа</label>
                    </div>
                    <div class="input">
                        <input id="cena_vhoda" class="input__input" type="text" name="cena_vhoda" value="45000">
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__title-block">
                        <label class="form-field__title" for="pribil_ot_depo">Прибыль (% от депо)</label>
                    </div>
                    <div class="input">
                        <input id="pribil_ot_depo" class="input__input" type="text" name="pribil_ot_depo" value="2">
                    </div>
                </div>
            </div>

            <div class="m-calc__row">
                <div class="form-field">
                    <div class="form-field__title-block">
                        <label class="form-field__title" for="kolvo_orderov">Кол-во ордеров</label>
                    </div>
                    <div class="input">
                        <input id="kolvo_orderov" class="input__input" type="text" name="kolvo_orderov" value="5">
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__title-block">
                        <label class="form-field__title" for="plecho">Плечо</label>
                    </div>
                    <div class="input">
                        <input id="plecho" class="input__input" type="text" name="plecho" value="10">
                    </div>
                </div>
            </div>

            <div class="form-field">
                <div class="form-field__title-block">
                    <label class="form-field__title" for="martingale">Мартингейл (1-2)</label>
                </div>
                <div class="input">
                    <input id="martingale" class="input__input" type="text" name="martingale" value="1">
                </div>
            </div>
        </div>
    </div>

    <div class="m-calc__right">
        <div class="box">
            <div class="box__title-block">
                <p class="box__title">Лонг</p>
            </div>

            <div class="overflow-table">
                <table>
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Цена</th>
                            <th>Сумма закупки</th>
                            <th>Цена закрытия</th>
                            <th>Цена ликвидации</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box">
            <div class="box__title-block">
                <p class="box__title">Шорт</p>
            </div>

            <div class="overflow-table">
                <table>
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Цена</th>
                            <th>Сумма закупки</th>
                            <th>Цена закрытия</th>
                            <th>Цена ликвидации</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>45 000</td>
                            <td>32.2581</td>
                            <td>47809.0676</td>
                            <td>40500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>